###Zadatak
iz ovog teksta maknite sve znakove i pretovrite sva slova u mala slova, 
te onda slozite svaku rijec u listu rijecu, nakon toga napravite pandas seriju, te provjeriti koliko se ponavlja svaka rijec... (count ili value_counts() )

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

In [36]:
import numpy as np
import pandas as pd



paragraf = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."


paragraf = paragraf.lower().replace(".", "").replace(",", "")
print(paragraf)

lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id est laborum

In [37]:
lista_rijeci = paragraf.split()
print(lista_rijeci)

['lorem', 'ipsum', 'dolor', 'sit', 'amet', 'consectetur', 'adipiscing', 'elit', 'sed', 'do', 'eiusmod', 'tempor', 'incididunt', 'ut', 'labore', 'et', 'dolore', 'magna', 'aliqua', 'ut', 'enim', 'ad', 'minim', 'veniam', 'quis', 'nostrud', 'exercitation', 'ullamco', 'laboris', 'nisi', 'ut', 'aliquip', 'ex', 'ea', 'commodo', 'consequat', 'duis', 'aute', 'irure', 'dolor', 'in', 'reprehenderit', 'in', 'voluptate', 'velit', 'esse', 'cillum', 'dolore', 'eu', 'fugiat', 'nulla', 'pariatur', 'excepteur', 'sint', 'occaecat', 'cupidatat', 'non', 'proident', 'sunt', 'in', 'culpa', 'qui', 'officia', 'deserunt', 'mollit', 'anim', 'id', 'est', 'laborum']

Stavljanje ovih rijecui iz liste u pandas seriju:

In [38]:
pd_rijeci = pd.Series(lista_rijeci, name="lorem ipsum")

In [39]:
pd_rijeci

0       lorem
1       ipsum
2       dolor
3         sit
4        amet
       ...
64     mollit
65       anim
66         id
67        est
68    laborum
Name: lorem ipsum, Length: 69, dtype: object

In [40]:
pd_rijeci.value_counts().sort_values(ascending=False)

in          3
ut          3
dolore      2
dolor       2
elit        1
           ..
officia     1
deserunt    1
mollit      1
anim        1
laborum     1
Name: lorem ipsum, Length: 63, dtype: int64

In [41]:
broj_vrijednosti = pd_rijeci.value_counts()
broj_vrijednosti[broj_vrijednosti > 1]

in        3
ut        3
dolore    2
dolor     2
Name: lorem ipsum, dtype: int64

In [42]:
pd_rijeci.max()

'voluptate'

In [43]:
len(pd_rijeci.max())

9

In [44]:
pd_rijeci.min()

'ad'

# DATAFRAME

In [72]:
proizvodi_baza = {
    "Naziv": [
        "Trek", "Kona", "Giant", "Bianchi", 
        "Cosmo Ride", "Neon", "Zeeclo", "Atomic", 
        "Head", "Elan", "Salomon", "Rossignol"
    ],
    "Cijena": [
        7699.00, 4699.00, 5999.00, 22499.00,
        2599.00, 1999.00, 2799.00, 1499.00, 
        1359.00, 1499.00, 1699.00, 999.00
    ],
    "Kategorija": [
        "Bicikl", "Bicikl", "Bicikl", "Bicikl",
        "E-Romobil", "E-Romobil", "E-Romobil", "Skije",
        "Skije", "Skije","Skije", "Skije"
    ],
    "Ocjena": [
        6.7, 6.5, 6.65, 7.2, 8.64, 8.61,
        8.59, 7.99, 8.15, 8.05, 7.91, 6.10
    ]
}

In [73]:
proizvodi = pd.DataFrame(proizvodi_baza, columns=["Naziv", "Cijena", "Kategorija", "Ocjena"])
proizvodi

         Naziv   Cijena Kategorija  Ocjena
0         Trek   7699.0     Bicikl    6.70
1         Kona   4699.0     Bicikl    6.50
2        Giant   5999.0     Bicikl    6.65
3      Bianchi  22499.0     Bicikl    7.20
4   Cosmo Ride   2599.0  E-Romobil    8.64
5         Neon   1999.0  E-Romobil    8.61
6       Zeeclo   2799.0  E-Romobil    8.59
7       Atomic   1499.0      Skije    7.99
8         Head   1359.0      Skije    8.15
9         Elan   1499.0      Skije    8.05
10     Salomon   1699.0      Skije    7.91
11   Rossignol    999.0      Skije    6.10

Dataframe najceste necemo kreirati na ovaj nacin, vec cemo ga dobiti ucitavanjem podataka iz nekog izvora, promjerice .csv datoteke.

u tom slucaju, jedan od prvih koraka prije bilo kakve analize tih podataka je vidjeti s kojim podacima raspolaazemo:

In [74]:
proizvodi.values

array([['Trek', 7699.0, 'Bicikl', 6.7],
       ['Kona', 4699.0, 'Bicikl', 6.5],
       ['Giant', 5999.0, 'Bicikl', 6.65],
       ['Bianchi', 22499.0, 'Bicikl', 7.2],
       ['Cosmo Ride', 2599.0, 'E-Romobil', 8.64],
       ['Neon', 1999.0, 'E-Romobil', 8.61],
       ['Zeeclo', 2799.0, 'E-Romobil', 8.59],
       ['Atomic', 1499.0, 'Skije', 7.99],
       ['Head', 1359.0, 'Skije', 8.15],
       ['Elan', 1499.0, 'Skije', 8.05],
       ['Salomon', 1699.0, 'Skije', 7.91],
       ['Rossignol', 999.0, 'Skije', 6.1]], dtype=object)

In [75]:
proizvodi.index.name = "ID"

## Proistup elementima u dataframe-u

In [76]:
# pristup stupcu

proizvodi["Naziv"]

ID
0           Trek
1           Kona
2          Giant
3        Bianchi
4     Cosmo Ride
5           Neon
6         Zeeclo
7         Atomic
8           Head
9           Elan
10       Salomon
11     Rossignol
Name: Naziv, dtype: object

In [77]:
# pristup retku

#proizvodi[0]

# ne pristupamo ovako

In [78]:
proizvodi["Naziv"][2]

'Giant'

In [79]:
proizvodi["Naziv"][:5]

ID
0          Trek
1          Kona
2         Giant
3       Bianchi
4    Cosmo Ride
Name: Naziv, dtype: object

In [80]:
proizvodi[5:]

        Naziv  Cijena Kategorija  Ocjena
ID
5        Neon  1999.0  E-Romobil    8.61
6      Zeeclo  2799.0  E-Romobil    8.59
7      Atomic  1499.0      Skije    7.99
8        Head  1359.0      Skije    8.15
9        Elan  1499.0      Skije    8.05
10    Salomon  1699.0      Skije    7.91
11  Rossignol   999.0      Skije    6.10

In [81]:
proizvodi[ : 5: -1]

        Naziv  Cijena Kategorija  Ocjena
ID
11  Rossignol   999.0      Skije    6.10
10    Salomon  1699.0      Skije    7.91
9        Elan  1499.0      Skije    8.05
8        Head  1359.0      Skije    8.15
7      Atomic  1499.0      Skije    7.99
6      Zeeclo  2799.0  E-Romobil    8.59

In [82]:
# BOLJA VARIJANTA: 
# dohvat prvog retka u dataframe-u

proizvodi.loc[1]

# tu ih dohvacamo i razultat dobijamo kao seriju

Naziv           Kona
Cijena        4699.0
Kategorija    Bicikl
Ocjena           6.5
Name: 1, dtype: object

In [88]:
# ako zelimo vise njih

proizvodi.loc[[0, 1, 4]]

# dohvat vise proizvoljnih retaka iz dataframe-a, rezultat je drugi datraframe

         Naziv  Cijena Kategorija  Ocjena
ID
0         Trek  7699.0     Bicikl    6.70
1         Kona  4699.0     Bicikl    6.50
4   Cosmo Ride  2599.0  E-Romobil    8.64

In [89]:
proizvodi.loc[0:4]

         Naziv   Cijena Kategorija  Ocjena
ID
0         Trek   7699.0     Bicikl    6.70
1         Kona   4699.0     Bicikl    6.50
2        Giant   5999.0     Bicikl    6.65
3      Bianchi  22499.0     Bicikl    7.20
4   Cosmo Ride   2599.0  E-Romobil    8.64

In [90]:
# dodavanje novog stupca u dataframeu

In [94]:
proizvodi["Kolicina na skladistu"] = 15
proizvodi

         Naziv   Cijena Kategorija  Ocjena  Kolicina na skladistu
ID
0         Trek   7699.0     Bicikl    6.70                     15
1         Kona   4699.0     Bicikl    6.50                     15
2        Giant   5999.0     Bicikl    6.65                     15
3      Bianchi  22499.0     Bicikl    7.20                     15
4   Cosmo Ride   2599.0  E-Romobil    8.64                     15
5         Neon   1999.0  E-Romobil    8.61                     15
6       Zeeclo   2799.0  E-Romobil    8.59                     15
7       Atomic   1499.0      Skije    7.99                     15
8         Head   1359.0      Skije    8.15                     15
9         Elan   1499.0      Skije    8.05                     15
10     Salomon   1699.0      Skije    7.91                     15
11   Rossignol    999.0      Skije    6.10                     15

In [100]:
proizvodi["Kolicina na skladistu"] = np.random.randint(100, size=12)
# tu mora lista imati onoliko elemanata koliko imamo redaka u samom dataframe-u

In [101]:
proizvodi

         Naziv   Cijena Kategorija  Ocjena  Kolicina na skladistu
ID
0         Trek   7699.0     Bicikl    6.70                     38
1         Kona   4699.0     Bicikl    6.50                     11
2        Giant   5999.0     Bicikl    6.65                     30
3      Bianchi  22499.0     Bicikl    7.20                     43
4   Cosmo Ride   2599.0  E-Romobil    8.64                     13
5         Neon   1999.0  E-Romobil    8.61                     54
6       Zeeclo   2799.0  E-Romobil    8.59                     24
7       Atomic   1499.0      Skije    7.99                     59
8         Head   1359.0      Skije    8.15                     54
9         Elan   1499.0      Skije    8.05                     16
10     Salomon   1699.0      Skije    7.91                     53
11   Rossignol    999.0      Skije    6.10                      9

In [102]:
# brisanje stupca iz dataframe-a
del proizvodi["Kolicina na skladistu"]

In [103]:
proizvodi

         Naziv   Cijena Kategorija  Ocjena
ID
0         Trek   7699.0     Bicikl    6.70
1         Kona   4699.0     Bicikl    6.50
2        Giant   5999.0     Bicikl    6.65
3      Bianchi  22499.0     Bicikl    7.20
4   Cosmo Ride   2599.0  E-Romobil    8.64
5         Neon   1999.0  E-Romobil    8.61
6       Zeeclo   2799.0  E-Romobil    8.59
7       Atomic   1499.0      Skije    7.99
8         Head   1359.0      Skije    8.15
9         Elan   1499.0      Skije    8.05
10     Salomon   1699.0      Skije    7.91
11   Rossignol    999.0      Skije    6.10

# ČItanje i pisanje podataka
 iz cars.csv cemo ucitati u dataframe

In [104]:
cars = pd.read_csv("podaci/cars.csv")

In [106]:
cars

    Car;MPG;Cylinders;Displacement;Horsepower;Weight;Acceleration;Model;Origin
0    STRING;DOUBLE;INT;DOUBLE;DOUBLE;DOUBLE;DOUBLE;...
1    Chevrolet Chevelle Malibu;18.0;8;307.0;130.0;3...
2    Buick Skylark 320;15.0;8;350.0;165.0;3693.;11....
3    Plymouth Satellite;18.0;8;318.0;150.0;3436.;11...
4    AMC Rebel SST;16.0;8;304.0;150.0;3433.;12.0;70;US
..                                                 ...
402  Ford Mustang GL;27.0;4;140.0;86.00;2790.;15.6;...
403  Volkswagen Pickup;44.0;4;97.00;52.00;2130.;24....
404  Dodge Rampage;32.0;4;135.0;84.00;2295.;11.6;82;US
405    Ford Ranger;28.0;4;120.0;79.00;2625.;18.6;82;US
406     Chevy S-10;31.0;4;119.0;82.00;2720.;19.4;82;US

[407 rows x 1 columns]

Ovo nije dajsretniji format iz kojeg mozemo nesto zakljuciti jer nam se sve nalazi u jednom stupcu. 

zasto?

zato sto su stupci u nasem .csv file-u odvojeni s ";" dok pandas kao defaultni separator ocekuje ","

Ovaj problem mozemo vrlo lako rijesiti

In [107]:
cars = pd.read_csv("podaci/cars.csv", sep=";")

In [109]:
cars

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,STRING,DOUBLE,INT,DOUBLE,DOUBLE,DOUBLE,DOUBLE,INT,CAT
1,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.,12.0,70,US
2,Buick Skylark 320,15.0,8,350.0,165.0,3693.,11.5,70,US
3,Plymouth Satellite,18.0,8,318.0,150.0,3436.,11.0,70,US
4,AMC Rebel SST,16.0,8,304.0,150.0,3433.,12.0,70,US
...,...,...,...,...,...,...,...,...,...
402,Ford Mustang GL,27.0,4,140.0,86.00,2790.,15.6,82,US
403,Volkswagen Pickup,44.0,4,97.00,52.00,2130.,24.6,82,Europe
404,Dodge Rampage,32.0,4,135.0,84.00,2295.,11.6,82,US
405,Ford Ranger,28.0,4,120.0,79.00,2625.,18.6,82,US
406,Chevy S-10,31.0,4,119.0,82.00,2720.,19.4,82,US

In [111]:
cars.columns

Index(['Car', 'MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight',
       'Acceleration', 'Model', 'Origin'],
      dtype='object')

In [112]:
cars.index

RangeIndex(start=0, stop=407, step=1)

In [114]:
cars.values

array([['STRING', 'DOUBLE', 'INT', ..., 'DOUBLE', 'INT', 'CAT'],
       ['Chevrolet Chevelle Malibu', '18.0', '8', ..., '12.0', '70',
        'US'],
       ['Buick Skylark 320', '15.0', '8', ..., '11.5', '70', 'US'],
       ...,
       ['Dodge Rampage', '32.0', '4', ..., '11.6', '82', 'US'],
       ['Ford Ranger', '28.0', '4', ..., '18.6', '82', 'US'],
       ['Chevy S-10', '31.0', '4', ..., '19.4', '82', 'US']], dtype=object)

In [126]:
cars.dtypes

Car              object
MPG              object
Cylinders        object
Displacement     object
Horsepower      float64
Weight           object
Acceleration     object
Model            object
Origin           object
dtype: object

In [127]:
cars = cars.drop(0)
# micanje redka jer prvi redak je string
# da bi pretvorili horsepower stupac iz double u float, 
#moramo prvi redak cijeli maknuti

cars["Horsepower"] = cars["Horsepower"].astype("float")
cars

KeyError: '[0] not found in axis'

In [129]:
cars.dtypes

Car              object
MPG              object
Cylinders        object
Displacement     object
Horsepower      float64
Weight           object
Acceleration     object
Model            object
Origin           object
dtype: object

In [132]:
cars["Car"] = cars["Car"].astype("string")
cars.dtypes

Car              string
MPG              object
Cylinders        object
Displacement     object
Horsepower      float64
Weight           object
Acceleration     object
Model            object
Origin           object
dtype: object

In [133]:
cars["MPG"] = cars["MPG"].astype("float")
cars.dtypes

Car              string
MPG             float64
Cylinders        object
Displacement     object
Horsepower      float64
Weight           object
Acceleration     object
Model            object
Origin           object
dtype: object

In [134]:
cars["Cylinders"] = cars["Cylinders"].astype("int")
cars.dtypes

Car              string
MPG             float64
Cylinders         int32
Displacement     object
Horsepower      float64
Weight           object
Acceleration     object
Model            object
Origin           object
dtype: object

In [135]:
cars["Displacement"] = cars["Displacement"].astype("float")
cars.dtypes

Car              string
MPG             float64
Cylinders         int32
Displacement    float64
Horsepower      float64
Weight           object
Acceleration     object
Model            object
Origin           object
dtype: object

In [136]:
cars["Weight"] = cars["Weight"].astype("float")
cars.dtypes

Car              string
MPG             float64
Cylinders         int32
Displacement    float64
Horsepower      float64
Weight          float64
Acceleration     object
Model            object
Origin           object
dtype: object

In [137]:
cars["Acceleration"] = cars["Acceleration"].astype("float")
cars.dtypes

Car              string
MPG             float64
Cylinders         int32
Displacement    float64
Horsepower      float64
Weight          float64
Acceleration    float64
Model            object
Origin           object
dtype: object

In [138]:
cars["Model"] = cars["Model"].astype("int")
cars.dtypes

Car              string
MPG             float64
Cylinders         int32
Displacement    float64
Horsepower      float64
Weight          float64
Acceleration    float64
Model             int32
Origin           object
dtype: object

In [139]:
cars["Origin"] = cars["Origin"].astype("string")
cars.dtypes

Car              string
MPG             float64
Cylinders         int32
Displacement    float64
Horsepower      float64
Weight          float64
Acceleration    float64
Model             int32
Origin           string
dtype: object

In [141]:
cars

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
1,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.0,12.0,70,US
2,Buick Skylark 320,15.0,8,350.0,165.0,3693.0,11.5,70,US
3,Plymouth Satellite,18.0,8,318.0,150.0,3436.0,11.0,70,US
4,AMC Rebel SST,16.0,8,304.0,150.0,3433.0,12.0,70,US
5,Ford Torino,17.0,8,302.0,140.0,3449.0,10.5,70,US
...,...,...,...,...,...,...,...,...,...
402,Ford Mustang GL,27.0,4,140.0,86.0,2790.0,15.6,82,US
403,Volkswagen Pickup,44.0,4,97.0,52.0,2130.0,24.6,82,Europe
404,Dodge Rampage,32.0,4,135.0,84.0,2295.0,11.6,82,US
405,Ford Ranger,28.0,4,120.0,79.0,2625.0,18.6,82,US
406,Chevy S-10,31.0,4,119.0,82.0,2720.0,19.4,82,US

In [146]:
cars = pd.read_csv("podaci/cars.csv", sep=";", skiprows=[1])
cars

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.0,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165.0,3693.0,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150.0,3436.0,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150.0,3433.0,12.0,70,US
4,Ford Torino,17.0,8,302.0,140.0,3449.0,10.5,70,US
...,...,...,...,...,...,...,...,...,...
401,Ford Mustang GL,27.0,4,140.0,86.0,2790.0,15.6,82,US
402,Volkswagen Pickup,44.0,4,97.0,52.0,2130.0,24.6,82,Europe
403,Dodge Rampage,32.0,4,135.0,84.0,2295.0,11.6,82,US
404,Ford Ranger,28.0,4,120.0,79.0,2625.0,18.6,82,US
405,Chevy S-10,31.0,4,119.0,82.0,2720.0,19.4,82,US

In [147]:
cars.dtypes

Car              object
MPG             float64
Cylinders         int64
Displacement    float64
Horsepower      float64
Weight          float64
Acceleration    float64
Model             int64
Origin           object
dtype: object

In [150]:
cars.head(20) # prvih 20 redaka u dataframe-u

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.0,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165.0,3693.0,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150.0,3436.0,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150.0,3433.0,12.0,70,US
4,Ford Torino,17.0,8,302.0,140.0,3449.0,10.5,70,US
5,Ford Galaxie 500,15.0,8,429.0,198.0,4341.0,10.0,70,US
6,Chevrolet Impala,14.0,8,454.0,220.0,4354.0,9.0,70,US
7,Plymouth Fury iii,14.0,8,440.0,215.0,4312.0,8.5,70,US
8,Pontiac Catalina,14.0,8,455.0,225.0,4425.0,10.0,70,US
9,AMC Ambassador DPL,15.0,8,390.0,190.0,3850.0,8.5,70,US
10,Citroen DS-21 Pallas,0.0,4,133.0,115.0,3090.0,17.5,70,Europe
11,Chevrolet Chevelle Concours (sw),0.0,8,350.0,165.0,4142.0,11.5,70,US
12,Ford Torino (sw),0.0,8,351.0,153.0,4034.0,11.0,70,US
13,Plymouth Satellite (sw),0.0,8,383.0,175.0,4166.0,10.5,70,US
14,AMC Rebel SST (sw),0.0,8,360.0,175.0,3850.0,11.0,70,US
15,Dodge Challenger SE,15.0,8,383.0,170.0,3563.0,10.0,70,US
16,Plymouth 'Cuda 340,14.0,8,340.0,160.0,3609.0,8.0,70,US
17,Ford Mustang Boss 302,0.0,8,302.0,140.0,3353.0,8.0,70,US
18,Chevrolet Monte Carlo,15.0,8,400.0,150.0,3761.0,9.5,70,US
19,Buick Estate Wagon (sw),14.0,8,455.0,225.0,3086.0,10.0,70,US

In [151]:
cars.tail(20) # zadnjih 20 redaka u dataframe-u

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
386,Plymouth Horizon Miser,38.0,4,105.0,63.0,2125.0,14.7,82,US
387,Mercury Lynx l,36.0,4,98.0,70.0,2125.0,17.3,82,US
388,Nissan Stanza XE,36.0,4,120.0,88.0,2160.0,14.5,82,Japan
389,Honda Accord,36.0,4,107.0,75.0,2205.0,14.5,82,Japan
390,Toyota Corolla,34.0,4,108.0,70.0,2245.0,16.9,82,Japan
391,Honda Civic,38.0,4,91.0,67.0,1965.0,15.0,82,Japan
392,Honda Civic (auto),32.0,4,91.0,67.0,1965.0,15.7,82,Japan
393,Datsun 310 GX,38.0,4,91.0,67.0,1995.0,16.2,82,Japan
394,Buick Century Limited,25.0,6,181.0,110.0,2945.0,16.4,82,US
395,Oldsmobile Cutlass Ciera (diesel),38.0,6,262.0,85.0,3015.0,17.0,82,US
396,Chrysler Lebaron Medallion,26.0,4,156.0,92.0,2585.0,14.5,82,US
397,Ford Grenada l,22.0,6,232.0,112.0,2835.0,14.7,82,US
398,Toyota Celica GT,32.0,4,144.0,96.0,2665.0,13.9,82,Japan
399,Dodge Charger 2.2,36.0,4,135.0,84.0,2370.0,13.0,82,US
400,Chevrolet Camaro,27.0,4,151.0,90.0,2950.0,17.3,82,US
401,Ford Mustang GL,27.0,4,140.0,86.0,2790.0,15.6,82,US
402,Volkswagen Pickup,44.0,4,97.0,52.0,2130.0,24.6,82,Europe
403,Dodge Rampage,32.0,4,135.0,84.0,2295.0,11.6,82,US
404,Ford Ranger,28.0,4,120.0,79.0,2625.0,18.6,82,US
405,Chevy S-10,31.0,4,119.0,82.0,2720.0,19.4,82,US

In [153]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Car           406 non-null    object
 1   MPG           406 non-null    float64
 2   Cylinders     406 non-null    int64
 3   Displacement  406 non-null    float64
 4   Horsepower    406 non-null    float64
 5   Weight        406 non-null    float64
 6   Acceleration  406 non-null    float64
 7   Model         406 non-null    int64
 8   Origin        406 non-null    object
dtypes: float64(5), int64(2), object(2)
memory usage: 28.7+ KB

In [156]:
cars.empty # provjerava imamo li praznu celiju u dataframe-u

False

### Zadatak 
ucitati podatke iz datoteke e-cars.csv u dataframe i obraditi njihovu normalizaciju, tj ciscenje

In [159]:
e_cars = pd.read_csv("e-cars.csv", sep=";", skiprows=[1])
e_cars

,YEAR,Make,Model,Size,(kW),Unnamed: 5,TYPE,CITY (kWh/100 km),HWY (kWh/100 km),COMB (kWh/100 km),CITY (Le/100 km),HWY (Le/100 km),COMB (Le/100 km),(g/km),RATING,(km),TIME (h)
0,2012,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,NaN,117,7
1,2013,FORD,FOCUS ELECTRIC,COMPACT,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,0,NaN,122,4
2,2013,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
3,2013,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,NaN,117,7
4,2013,SMART,FORTWO ELECTRIC DRIVE CABRIOLET,TWO-SEATER,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,0,NaN,109,8
5,2013,SMART,FORTWO ELECTRIC DRIVE COUPE,TWO-SEATER,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,0,NaN,109,8
6,2013,TESLA,MODEL S (40 kWh battery),FULL-SIZE,270,A1,B,22.4,21.9,22.2,2.5,2.5,2.5,0,NaN,224,6
7,2013,TESLA,MODEL S (60 kWh battery),FULL-SIZE,270,A1,B,22.2,21.7,21.9,2.5,2.4,2.5,0,NaN,335,10
8,2013,TESLA,MODEL S (85 kWh battery),FULL-SIZE,270,A1,B,23.8,23.2,23.6,2.7,2.6,2.6,0,NaN,426,12
9,2013,TESLA,MODEL S PERFORMANCE,FULL-SIZE,310,A1,B,23.9,23.2,23.6,2.7,2.6,2.6,0,NaN,426,12
10,2014,CHEVROLET,SPARK EV,SUBCOMPACT,104,A1,B,16.0,19.6,17.8,1.8,2.2,2.0,0,NaN,131,7
11,2014,FORD,FOCUS ELECTRIC,COMPACT,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,0,NaN,122,4
12,2014,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
13,2014,NISSAN,LEAF,MID-SIZE,80,A1,B,16.5,20.8,18.4,1.9,2.3,2.1,0,NaN,135,5
14,2014,SMART,FORTWO ELECTRIC DRIVE CABRIOLET,TWO-SEATER,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,0,NaN,109,8
15,2014,SMART,FORTWO ELECTRIC DRIVE COUPE,TWO-SEATER,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,0,NaN,109,8
16,2014,TESLA,MODEL S (60 kWh battery),FULL-SIZE,225,A1,B,22.2,21.7,21.9,2.5,2.4,2.5,0,NaN,335,10
17,2014,TESLA,MODEL S (85 kWh battery),FULL-SIZE,270,A1,B,23.8,23.2,23.6,2.7,2.6,2.6,0,NaN,426,12
18,2014,TESLA,MODEL S PERFORMANCE,FULL-SIZE,310,A1,B,23.9,23.2,23.6,2.7,2.6,2.6,0,NaN,426,12
19,2015,BMW,i3,SUBCOMPACT,125,A1,B,15.2,18.8,16.8,1.7,2.1,1.9,0,NaN,130,4
20,2015,CHEVROLET,SPARK EV,SUBCOMPACT,104,A1,B,16.0,19.6,17.8,1.8,2.2,2.0,0,NaN,131,7
21,2015,FORD,FOCUS ELECTRIC,COMPACT,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,0,NaN,122,4
22,2015,KIA,SOUL EV,STATION WAGON - SMALL,81,A1,B,17.5,22.7,19.9,2.0,2.6,2.2,0,NaN,149,4
23,2015,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
24,2015,NISSAN,LEAF,MID-SIZE,80,A1,B,16.5,20.8,18.4,1.9,2.3,2.1,0,NaN,135,5
25,2015,SMART,FORTWO ELECTRIC DRIVE CABRIOLET,TWO-SEATER,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,0,NaN,109,8
26,2015,SMART,FORTWO ELECTRIC DRIVE COUPE,TWO-SEATER,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,0,NaN,109,8
27,2015,TESLA,MODEL S (60 kWh battery),FULL-SIZE,283,A1,B,22.2,21.7,21.9,2.5,2.4,2.5,0,NaN,335,10
28,2015,TESLA,MODEL S (70 kWh battery),FULL-SIZE,283,A1,B,23.8,23.2,23.6,2.7,2.6,2.6,0,NaN,377,12
29,2015,TESLA,MODEL S (85/90 kWh battery),FULL-SIZE,283,A1,B,23.8,23.2,23.6,2.7,2.6,2.6,0,NaN,426,12
30,2015,TESLA,MODEL S 70D,FULL-SIZE,280,A1,B,20.8,20.6,20.7,2.3,2.3,2.3,0,NaN,386,12
31,2015,TESLA,MODEL S 85D/90D,FULL-SIZE,280,A1,B,22.0,19.8,21.0,2.5,2.2,2.4,0,NaN,435,12
32,2015,TESLA,MODEL S P85D/P90D,FULL-SIZE,515,A1,B,23.4,21.5,22.5,2.6,2.4,2.5,0,NaN,407,12
33,2016,BMW,i3,SUBCOMPACT,125,A1,B,15.2,18.8,16.8,1.7,2.1,1.9,0,10.0,130,4
34,2016,CHEVROLET,SPARK EV,SUBCOMPACT,104,A1,B,16.0,19.6,17.8,1.8,2.2,2.0,0,10.0,131,7
35,2016,FORD,FOCUS ELECTRIC,COMPACT,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,0,10.0,122,4
36,2016,KIA,SOUL EV,STATION WAGON - SMALL,81,A1,B,17.5,22.7,19.9,2.0,2.6,2.2,0,10.0,149,4
37,2016,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,10.0,100,7
38,2016,NISSAN,LEAF (24 kWh battery),MID-SIZE,80,A1,B,16.5,20.8,18.4,1.9,2.3,2.1,0,10.0,135,5
39,2016,NISSAN,LEAF (30 kWh battery),MID-SIZE,80,A1,B,17.0,20.7,18.6,1.9,2.3,2.1,0,10.0,172,6
40,2016,SMART,FORTWO ELECTRIC DRIVE CABRIOLET,TWO-SEATER,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,0,10.0,109,8
41,2016,SMART,FORTWO ELECTRIC DRIVE COUPE,TWO-SEATER,35,A1,B,17.2,22.5,19.6,1.9,2.5,2.2,0,10.0,109,8
42,2016,TESLA,MODEL S (60 kWh battery),FULL-SIZE,283,A1,B,22.2,21.7,21.9,2.5,2.4,2.5,0,10.0,335,10
43,2016,TESLA,MODEL S (70 kWh battery),FULL-SIZE,283,A1,B,23.8,23.2,23.6,2.7,2.6,2.6,0,10.0,377,12
44,2016,TESLA,MODEL S (85/90 kWh battery),FULL-SIZE,283,A1,B,23.8,23.2,23.6,2.7,2.6,2.6,0,10.0,426,12
45,2016,TESLA,MODEL S 70D,FULL-SIZE,386,A1,B,20.8,20.6,20.7,2.3,2.3,2.3,0,10.0,386,12
46,2016,TESLA,MODEL S 85D/90D,FULL-SIZE,386,A1,B,22.0,19.8,21.0,2.5,2.2,2.4,0,10.0,435,12
47,2016,TESLA,MODEL S 90D (Refresh),FULL-SIZE,386,A1,B,20.8,19.7,20.3,2.3,2.2,2.3,0,10.0,473,12
48,2016,TESLA,MODEL S P85D/P90D,FULL-SIZE,568,A1,B,23.4,21.5,22.5,2.6,2.4,2.5,0,10.0,407,12
49,2016,TESLA,MODEL S P90D (Refresh),FULL-SIZE,568,A1,B,22.9,21.0,22.1,2.6,2.4,2.5,0,10.0,435,12
50,2016,TESLA,MODEL X 90D,SUV - STANDARD,386,A1,B,23.2,22.2,22.7,2.6,2.5,2.6,0,10.0,414,12
51,2016,TESLA,MODEL X P90D,SUV - STANDARD,568,A1,B,23.6,23.3,23.5,2.7,2.6,2.6,0,10.0,402,12

In [161]:
e_cars.dtypes

YEAR                   int64
Make                  object
Model                 object
Size                  object
(kW)                   int64
Unnamed: 5            object
TYPE                  object
CITY (kWh/100 km)    float64
HWY (kWh/100 km)     float64
COMB (kWh/100 km)    float64
CITY (Le/100 km)     float64
HWY (Le/100 km)      float64
COMB (Le/100 km)     float64
(g/km)                 int64
RATING               float64
(km)                   int64
TIME (h)               int64
dtype: object

In [164]:
e_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   YEAR               52 non-null     int64
 1   Make               52 non-null     object
 2   Model              52 non-null     object
 3   Size               52 non-null     object
 4   (kW)               52 non-null     int64
 5   Unnamed: 5         52 non-null     object
 6   TYPE               52 non-null     object
 7   CITY (kWh/100 km)  52 non-null     float64
 8   HWY (kWh/100 km)   52 non-null     float64
 9   COMB (kWh/100 km)  52 non-null     float64
 10  CITY (Le/100 km)   52 non-null     float64
 11  HWY (Le/100 km)    52 non-null     float64
 12  COMB (Le/100 km)   52 non-null     float64
 13  (g/km)             52 non-null     int64
 14  RATING             19 non-null     float64
 15  (km)               52 non-null     int64
 16  TIME (h)           52 non-null     int64
dtypes: float64(7), int64(5), object(5)
memory usage: 7.0+ KB

In [165]:
e_cars.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
dtype: bool